{% extends 'base.html.twig' %}

{% block title %}{{ location }} map{% endblock %}

{% block bodyClass %} class="h-screen"{% endblock %}

{% block body %}
    <div
        data-controller="map"
        data-map-style-url-value="{{ url('map_style', { schema: schema, location: location, style: style }) }}"
        class="flex h-full"
    >
        <div
            id="sources"
            data-map-target="sources"
            class="flex justify-between flex-col flex-none w-64 p-2 bg-white"
        >
            <div>
                <h2 class="pt-4 font-bold">Sources</h3>
                {% for schema, schemaSources in sources %}
                    <h3 class="pt-4 font-semibold border-b border-indigo-100">{{ schema }}</h3>
                    {% for schemaSource in schemaSources %}
                        <a class="block underline" href="{{ url('map', { schema: schema, location: schemaSource.filename[:-8], style: schema|defaultStyle }) }}">
                            {{ schemaSource.filename[:-8] }}
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
            <div>
                <h2 class="pt-4 font-bold">Styles</h3>
                {% for availableStyle in availableStyles %}
                    <a class="block underline" href="{{ url('map', { schema: schema, location: location, style: availableStyle }) }}">
                        {{ availableStyle }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div
            id="map"
            data-map-target="map"
            class="flex-1 grow"
        ></div>
        <div
            id="meta"
            data-map-target="meta"
            class="absolute top-0 right-0 bg-white bg-opacity-75 p-2 rounded-l-lg z-10"
        ></div>
    </div>
{% endblock %}
